/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: 100vh;
    background-image: linear-gradient(#60a2ff, #94c1ff);
}

/* General */
.container {
    max-width: 400px;
    margin: 0 auto;
}

/* Screen view logic */
.building-screen,
.loading-screen,
.result-screen {
    display: none;
}

.building .building-screen,
.loading .loading-screen,
.result .result-screen {
    display: block;
}

/* Header */
header {
    text-align: center;
}

.boolean-logo {
    height: 30px;
}

.app-logo {
    max-width: 100px;
    margin: 16px 0;
}

/* Cards */
.card {
    background-color: #539afe;
    border: 1px solid #1475fd;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;
}

.card-title {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Unbouded', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 16px;
}

/* Input */
input {
    width: 100%;
    padding: 16px;
    border-radius: 30px;
    color: #62a3ff;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    background-color: #e9f2ff;
    outline: none;
    border: 3px solid transparent;
}

input::placeholder {
    color: #62a3ff;
}

input:focus {
    color: #072c81;
    border-color: #d9ff66;
}