/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: 100vh;
    background-image: linear-gradient(#60a2ff, #94c1ff);
}

/* General */
.container {
    max-width: 400px;
    margin: 0 auto;
}

/* Screen view logic */
.building-screen,
.loading-screen,
.result-screen {
    display: none;
}

.building .building-screen,
.loading .loading-screen,
.result .result-screen {
    display: block;
}

/* Header */
header {
    text-align: center;
}

.boolean-logo {
    height: 30px;
}

.app-logo {
    max-width: 100px;
    margin: 16px 0;
}